.container{
    text-align: center;
    padding: 50px;
}
.flex{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;

}
.main{
    border: 5px solid black;
    width: 25vw;
    border-radius: 30px;
    position: relative;
    left: 40%;
}

.btn{
    
    padding: 20px;
    margin: 2px;
    max-width: auto;
}
.btn{
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 10px;
    box-shadow: 10px;
}
 input{
    width: 15vw;
    height: 4vh;
    padding: 0px,0px,4px,0px;
    border: 2px solid black;
    border-radius: 10px;
 }
